.business-biology {
  background-color: var(--background-color);
  text-align: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 96px;
}

.card {
  background: transparent;
  width: 50%;
  text-align: center;
  /* margin-top: clamp(2rem, 6.67vw, 7.11rem); */
  /* padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 64px; */
}

.card p {
  /* margin-top: clamp(2.5rem, 8vw, 8.61rem); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 0.9375vw, 18px);
  line-height: 128%;
  font-weight: 200;
  /* padding: clamp(1.5rem, 3.33vw, 3.555rem); */
  color: var(--primary-color);
}
/* 
.left {
  margin-top: clamp(2.5rem, 8vw, 8.61rem);
} */
.right {
  padding-top: clamp(2rem, 6.67vw, 7.11rem);
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 64px;
}

.card-div {
  width: 84.4%;
  max-width: 702px;
  margin-left: auto;
  margin-right: auto;
}

.karolinaPic {
  width: 100%;
  max-width: 301px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 64px;
}

.left p {
  font-size: clamp(16px, 0.9375vw, 18px);
  padding-top: clamp(32px, 3.33vw, 64px);
  padding-bottom: clamp(32px, 3.33vw, 64px);
  padding-left: clamp(32px, 3.33vw, 64px);
  padding-right: clamp(64px, 6.9vw, 133px);
  text-align: left;
}
.left {
  margin-top: clamp(2.5rem, 8vw, 8.61rem);
  margin-bottom: clamp(2.5rem, 8vw, 8.61rem);
}
